#container{
	width: 100%;
	color: white;
}
.text{
	text-align: center;
}
a{
	text-decoration: none;
	text-align:center;
	color: yellow;
	position: absolute;
	left: 625px;
	top: 125px;
}
a:hover{
	font-size: 2em;
	}
